<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ssh_to_DB.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ssh_to_DB.Properties.Settings.connectConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\connect.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <applicationSettings>
        <ssh_to_DB.Properties.Settings>
            <setting name="ssh_to_DB_WebReference_FunctionalAPIImplService"
                serializeAs="String">
                <value>https://10.247.97.158:7225/fapi/version3_4</value>
            </setting>
        </ssh_to_DB.Properties.Settings>
    </applicationSettings>
</configuration>